@model List<StudentInfo>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Student ID</th>
            <th>Student Name</th>
            <th>Email Address</th>
            <th>Phone Number</th>
            <th>CGPA</th>
            <th>Actions</th>
        </tr>
    </thead>
    @{foreach(var student in Model){
        <tr>
            <td>@student.Sid</td>
            <td>@student.Name</td>
            <td>@student.Email</td>
            <td>@student.Phone</td>
            <td>@student.Cgpa</td>
            <td>
            <button asp-action="Edit" asp-route-id="@student.Sid" class="btn btn-sm btn-primary">Edit</button>
            <a asp-action="Delete" sid="@student.Sid" asp-route-id="@student.Sid" 
            class="btn btn-sm btn-danger dltbtn">Delete</a>
            <button asp-action="Details" asp-route-id="@student.Sid" class="btn btn-sm btn-info">Details</button>
            </td>
        </tr>
        }
        
        }
</table>




<script>
    let deleteButtons = document.querySelectorAll('.dltbtn');
    if(deleteButtons){
        deleteButtons.forEach(button=>{
            button.addEventListener('click', function(e) {
                console.log("pressed", this.attributes['sid'].value);
                if(!confirm("Are you sure you want to delete this student?")) {
                    e.preventDefault();
                }
                else{
                    button.submit();
                }
            });
        });
    }
</script>