@model List<StudentInfo>
@if(TempData["success"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["success"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}else if(TempData["error"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["error"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Student ID</th>
            <th>Student Name</th>
            <th>Email Address</th>
            <th>Phone Number</th>
            <th>CGPA</th>
            <th>Actions</th>
        </tr>
    </thead>
    @{foreach(var student in Model){
        <tr>
            <td>@student.Sid</td>
            <td>@student.Name</td>
            <td>@student.Email</td>
            <td>@student.Phone</td>
            <td>@student.Cgpa</td>
            <td>
            <a asp-route-id="@student.Sid" class="btn btn-sm btn-primary">Edit</a>
            <a asp-action="Delete" asp-route-id="@student.Sid" class="btn btn-sm btn-danger dltbtn">Delete</a>
            <a asp-route-id="@student.Sid" class="btn btn-sm btn-info">Details</a>
            </td>
        </tr>
        }
        
        }
</table>

<script>
    let deleteButtons = document.querySelectorAll('.dltbtn');
    if(deleteButtons){
        deleteButtons.forEach(button=>{
            button.addEventListener('click', function(e) {
                if(!confirm("Are you sure you want to delete this student?")) {
                    e.preventDefault();
                    console.log("Deletion cancelled");
                }
            });
        });
    }
</script>